*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-family: 'Righteous', sans-serif;
}

body {
  background:linear-gradient(to bottom left, blue, #fff) ;   
}
#container{
  text-align: center;
  display: inline-block;
  margin-left:50px;
}
header{  
  text-align: center;
}
h1{
  text-transform: capitalize;
  letter-spacing: 3px;
  word-spacing: 30px;
  font-size: 60px;
  padding:10px 30px;
}
section div {
  float: left;
  margin: 20px;
}

section div img {
  min-width: 200px;
  max-width: 200px;
  height: 200px;
  border: 3px solid rgb(50, 37, 97);
  border-radius: 15px;
}
section:last-child{
  width: 60%;
  height: 40%;
}
.styleList{
  float: right;
  margin-right:70px;
}
#list{
  list-style-type: none;
  /* border: 2px solid black; */
  border-radius: 5px;
  margin:0 30px;
}
li{
  padding: 5px;
}

span{
  color: red;
}





/* * {
  box-sizing: border-box;
}

body {
  background:linear-gradient(to bottom left, blue, #fff) ;
  text-align: center;
  font-family: 'Righteous', sans-serif;

}

section div {
  width: 200px;
  float: left;
  padding: 30px;
}

section div img {
  max-width: 200px;
  height: 200px;
  border: 2px solid rgb(50, 37, 97);
  border-radius: 5px;
}

table {
  border-collapse: collapse;
}

table, th, td {
  border: 1px solid black;
  padding: 3px 10px;
}

#myChart{
  width:50%;
  height: 50%;
} */